<div class="footer">
    <div class="about">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Dignissimos harum mollitia odit rerum sed, tempore. Nobis!
        </p>
    </div>
    <div class="social">
        <img src="/logo/inst.png" alt="inst">
        <img src="/logo/git.png" alt="github">
        <img src="/logo/vk.png" alt="vkontakte">
    </div>
</div>