<div class="footer">
    <div class="about">
        <h5>About</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam aspernatur cumque doloremque eaque enim eum ipsum nesciunt rerum, sapiente!</p>
    </div>
    <div class="social">
        <img src="/logo/vk.png" alt="vk">
        <img src="/logo/inst.png" alt="instagram">
        <img src="/logo/git.png" alt="github">
    </div>
</div>